body {
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
}

.masthead .masthead-heading {
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
}

.masthead {
  text-align: left !important;
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;  
  background-image: url('../assets/bg2.jpg');
  color: white;
}

.page-section h3.section-subheading, .page-section .section-subheading.h3{  
  text-align: justify;
}

.btn-primary {
  padding: 50px !important;
  padding-right: 75px !important;
  margin: 100px !important;
  font-size: 2em !important;
  color: black !important;
  background-color: white;
  border-radius: 8px;
}

.form-group {  
  color: #070000 !important;
}
nav-link {
  color: black;
}

#logo {
  height: 4em !important;;
  width: 6em !important;;
}

#mainNav {
  background-color: white !important;
  color: black !important;
}

.timeline-image {
  background-color: #310F44;
}

.text-center {
  text-align: justify;
}

#process > div > ul > li > .timeline-image {
  background-color: #310F44;
}
