header.masthead .masthead-heading {
  text-align: left !important;
}

header.masthead .masthead-subheading {
  text-align: left !important;
}

.btn-primary {
  padding: 50px !important;
  padding-right: 75px !important;
  margin: 100px !important;
  font-size: 2em !important;
  color: #fff !important;
}

.form-group {  
  color: #070000 !important;
}

#mainNav .navbar-nav .nav-item:last-child {
  display: flex;
}
